* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    font-weight: 600;
}

// tag
nav {
    width: 15%;
    height: 100vh;
    align-content: flex-start !important;
    box-shadow: -5px 0px 7px 0px;
    position: fixed !important;
    left: 0;
    a {
        color: $text;
        &:hover {
            color: $text !important;
            font-weight: 700;
        }
    }
}
a {
    &:hover {
        text-decoration: none !important;
        color: white !important;
    }
}

.form-control:focus {
    border-color: transparent !important;
    box-shadow: 0px 0px 10px -5px !important;
}

//button
.add-button {
    background-color: $bg-bt-blue;
    padding: 10px 20px;
    color: white !important;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.35px;
    border: 1px solid #707070;
    border-radius: 3px;

    &:hover {
        background-color: $bg-bt-black;
    }
}

.back-button {
    background-color: $bg-md-grey;
    padding: 10px 20px;
    color: white !important;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: 0.35px;
    border: 1px solid #707070;
    border-radius: 3px;

    &:hover {
        background-color: $bg-grey;
    }
}

.btn-custom {
    height: 37px;
    padding: 5px 20px;
    margin: 0 5px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.35px;
    border-radius: 3px;
    border: 1px solid #707070;
}

.btn-delete {
    width: 87px;
    height: 27px;
    border: none;
    font-weight: 600;
    background-color: #e4003c;
    color: white;
    &:hover {
        background-color: white;
        color: #e4003c;
        border: 1px solid #e4003c;
    }
}
//button\\

#select-all:hover {
    background-color: black;
}
#deselect-all:hover {
    background-color: $bg-grey;
}
#visible-column:hover {
    background-color: $bg-body;
}
#select-delete:hover {
    background-color: transparent;
    border: 1px solid $bg-bt-red;
    color: $bg-bt-red;
}

//color
.bg-body {
    background-color: $bg-body !important;
}
.bg-black {
    background-color: $bg-bt-black;
}
.bg-grey {
    background-color: $bg-md-grey;
}
.bg-lightgrey {
    background-color: $bg-lgt-grey;
}
.bg-red {
    background-color: $red;
}
.bg-green {
    background-color: $bg-bt-green;
}
.white {
    color: white;
}
.black {
    color: $bg-bt-black !important;
}
.grey {
    color: $bg-md-grey !important;
}
.light-grey {
    color: $light-grey;
}
.blue {
    color: $bg-bt-blue !important;
}

//text
.text-sm {
    font-size: 15px;
}
.text-md {
    font-size: 17px;
}
.font-500 {
    font-weight: 500;
}

//container
.popup {
    width: 478px;
}

.big-container {
    width: 85%;
    margin-left: 15%;
}
.container-custom {
    width: 100%;
}

//custom
.activ {
    font-weight: 700;
}
.pill {
    width: fit-content;
    background-color: $bg-bt-yellow;
    border-radius: 20px;
    color: $bg-bt-black;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    padding: 3px 10px;
}

tbody {
    tr:nth-child(odd) {
        background-color: #f2f2f2;
    }
}
.table_bonus {
    width: 100%;
    border: 1px solid #f2f2f2 !important;
    thead {
        tr {
            background-color: #f2f2f2;
            td {
                border-right: 1px solid white !important;
                border-bottom: none !important;
            }
        }
    }
    tbody {
        tr {
            background-color: transparent;
            td {
                border-bottom: none !important;
                border-right: none !important;

                a {
                    color: $text !important;
                    &:hover {
                        color: #2196f3 !important;
                    }
                }
            }
        }
    }
}
.sfondo {
    background-image: url("../../img/sfondo.png");
}

.disable {
    filter: grayscale(100%);
    opacity: 0.2;
    &:hover {
        text-decoration: none;
        cursor: no-drop;
    }
}

.icon_search {
    width: 30px;
    height: 30px;
}

.input_search {
    width: 100%;
    height: 47px;
    padding: 0 20px;
    border: none;
    border-radius: 40px;
    box-shadow: 0px 0px 5px -2px;

    &:focus-visible {
        outline: none !important;
    }
}

//checkbox custom
.checkbox-wrapper {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    input:checked ~ .checkmark::after {
        display: block;
    }

    .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 15px;
        width: 15px;
        margin-top: 5px;
        border: 1px solid gray;
        border-radius: 3px;

        &::after {
            content: "";
            position: absolute;
            left: 5px;
            top: 0px;
            width: 5px;
            height: 10px;
            border: solid #2196f3;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            display: none;
        }
    }
}
//checkbox\\

.menu {
    padding: 0 20px;
    border-bottom: 1px solid #bbbcbc;

    a {
        color: #bbbcbc;
        font-weight: 700;

        &:hover {
            color: #bbbcbc !important;
        }
    }
}

.divider {
    background-color: #f2f2f2;
    padding-top: 5px;
}

.submenu {
    padding: 15px 0 0px;
    margin-bottom: 15px;
    border-bottom: 1px solid $text;
}

.visited {
    color: $bg-bt-blue !important;
    border-bottom: 3px solid $bg-bt-blue;
    margin: -2px !important;
}

.bold {
    font-weight: 700;
    border-bottom: 3px solid $text;
    padding: 0 10px 7px 10px;
}

label {
    font-weight: 500;
    color: #bbbcbc !important;
}

.nav_bonus {
    border-bottom: #bbbcbc 1px solid;
    margin-bottom: 20px;
    padding: 0 20px;
    span {
        font-weight: 600;
        color: #bbbcbc;
        padding: 0 25px;
        cursor: pointer;
    }
    .frame {
        border: 1px solid #bbbcbc;
        border-bottom: 0;
        background-color: white;
        padding: 10px 20px 3px !important;
        color: #61a4d7 !important;
        z-index: 1;
        margin-bottom: -1px;
    }
}

.dati_progetto {
    label {
        color: $text !important;
        font-weight: 400 !important;
    }
}

.scroll {
    overflow-y: auto;
    height: 60vh;

    &::-webkit-scrollbar {
        display: none;
    }
}

.select {
    content: url("../../img/icon/arrow_down.svg");
    width: 20px;
    height: 10px;
    position: absolute;
    right: 5px;
    top: 15px;
    background-color: #f2f2f2;
    z-index: 1;
}

.frame {
    border: 1px solid #bbbcbc !important;
    border-bottom: 0 !important;
    background-color: white;
    padding: 10px 20px 7px !important;
    color: #61a4d7 !important;
    z-index: 1;
    margin-bottom: -1px !important;
}
