main {
    position: relative;
}

.practices-info {
    width: 100%;
    height: 50px;
    background-color: #fff;
    margin-left: 2px;
    padding: 0 35px;
    position: absolute;
    bottom: 0;
    left: 0;
}

// input border
.border-blue {
    border-radius: 3px;
    border: 2px solid $bg-bt-blue !important;
    &:focus {
        outline: none;
    }
}
