.practices-info {
    height: 50px;
    background-color: #fff;
    margin-left: 290px;
    padding: 0 35px;
}

// input border
.border-blue {
    border-radius: 3px;
    border: 2px solid $bg-bt-blue !important;
    &:focus {
        outline: none;
    }
}
